![Ironhack logo](https://i.imgur.com/1QgrNNw.png)

# Lab | Introduction to Pandas

## Introduction

In the Introduction to Pandas lesson, we learned about the two main data structures in Pandas (Series and DataFrames), how to work with them, how to obtain them from other data structures, and how to perform basic calculations with them.

The goal of this lab is to help you practice the concepts you learned in the lesson and provide you with some hands-on experience working with Pandas.

## Getting Started

Read the instructions for each cell and provide your answers. Make sure to test your answers in each cell and save. Jupyter Notebook should automatically save your work progress. But it's a good idea to periodically save your work manually just in case.

## Resources

- [Pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/)
- [Intro to Pandas Data Structures](https://pandas.pydata.org/pandas-docs/stable/dsintro.html)
- [Descriptive Statistics for Pandas DataFrame](https://chrisalbon.com/python/data_wrangling/pandas_dataframe_descriptive_stats/)

# Introduction to Pandas

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

#### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [50]:
# your code here
import numpy as np
import pandas as pd

#### 2. Create a Pandas Series containing the elements of the list below.

Expected output:

````python
            0     5.7
            1    75.2
            2    74.4
            3    84.0
            4    66.5
            5    66.3
            6    55.8
            7    75.7
            8    29.1
            9    43.7
            dtype: float64
    
````

In [2]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [51]:
# your code here
my_series=pd.Series(lst)
my_series

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

#### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [5]:
# your code here
my_series[2]

74.4

#### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

Expected output:

|    |    0 |    1 |    2 |    3 |    4 |
|---:|-----:|-----:|-----:|-----:|-----:|
|  0 | 53.1 | 95   | 67.5 | 35   | 78.4 |
|  1 | 61.3 | 40.8 | 30.8 | 37.8 | 87.6 |
|  2 | 20.6 | 73.2 | 44.2 | 14.6 | 91.8 |
|  3 | 57.4 |  0.1 | 96.1 |  4.2 | 69.5 |
|  4 | 83.6 | 20.5 | 85.4 | 22.8 | 35.9 |
|  5 | 49   | 69   |  0.1 | 31.8 | 89.1 |
|  6 | 23.3 | 40.7 | 95   | 83.8 | 26.9 |
|  7 | 27.6 | 26.4 | 53.8 | 88.8 | 68.5 |
|  8 | 96.6 | 96.4 | 53.4 | 72.4 | 50.1 |
|  9 | 73.7 | 39   | 43.2 | 81.6 | 34.7 |

In [6]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [8]:
# your code here
df=pd.DataFrame(b)
df

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

#### 5. Rename the data frame columns based on the names in the list below.

Expected output:

|    |   Score_1 |   Score_2 |   Score_3 |   Score_4 |   Score_5 |
|---:|----------:|----------:|----------:|----------:|----------:|
|  0 |      53.1 |      95   |      67.5 |      35   |      78.4 |
|  1 |      61.3 |      40.8 |      30.8 |      37.8 |      87.6 |
|  2 |      20.6 |      73.2 |      44.2 |      14.6 |      91.8 |
|  3 |      57.4 |       0.1 |      96.1 |       4.2 |      69.5 |
|  4 |      83.6 |      20.5 |      85.4 |      22.8 |      35.9 |
|  5 |      49   |      69   |       0.1 |      31.8 |      89.1 |
|  6 |      23.3 |      40.7 |      95   |      83.8 |      26.9 |
|  7 |      27.6 |      26.4 |      53.8 |      88.8 |      68.5 |
|  8 |      96.6 |      96.4 |      53.4 |      72.4 |      50.1 |
|  9 |      73.7 |      39   |      43.2 |      81.6 |      34.7 |

In [9]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [26]:
# your code here
df=pd.DataFrame(data=b, columns=colnames)
#df.columns=colnames

RangeIndex(start=0, stop=10, step=1)

#### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

Expected output:

|    |   Score_1 |   Score_3 |   Score_5 |
|---:|----------:|----------:|----------:|
|  0 |      53.1 |      67.5 |      78.4 |
|  1 |      61.3 |      30.8 |      87.6 |
|  2 |      20.6 |      44.2 |      91.8 |
|  3 |      57.4 |      96.1 |      69.5 |
|  4 |      83.6 |      85.4 |      35.9 |
|  5 |      49   |       0.1 |      89.1 |
|  6 |      23.3 |      95   |      26.9 |
|  7 |      27.6 |      53.8 |      68.5 |
|  8 |      96.6 |      53.4 |      50.1 |
|  9 |      73.7 |      43.2 |      34.7 |

In [32]:
# your code here
df[["Score_1", "Score_3", "Score_5"]]
#df.loc[:,["Score_2", "Score_3", "Score_5"]]

   Score_2  Score_3  Score_5
0     95.0     67.5     78.4
1     40.8     30.8     87.6
2     73.2     44.2     91.8
3      0.1     96.1     69.5
4     20.5     85.4     35.9
5     69.0      0.1     89.1
6     40.7     95.0     26.9
7     26.4     53.8     68.5
8     96.4     53.4     50.1
9     39.0     43.2     34.7

#### 7. From the original data frame, calculate the average Score_3 value.

Expected output:

````python
            56.95
````

In [41]:
# your code here
df["Score_3"].mean()

56.95000000000001

#### 8. From the original data frame, calculate the maximum Score_4 value.

Expected output:

````python
            88.8
````

In [42]:
# your code here
df["Score_4"].max()

88.8

#### 9. From the original data frame, calculate the median Score 2 value.

Expected output:

````python
            40.75
````

In [18]:
# your code here
df["Score_2"].median()

40.75

#### 10. Create a Pandas DataFrame from the dictionary of product orders below.

Expected output:

|    | Description                       |   Quantity |   UnitPrice |   Revenue |
|---:|:----------------------------------|-----------:|------------:|----------:|
|  0 | LUNCH BAG APPLE DESIGN            |          1 |        1.65 |      1.65 |
|  1 | SET OF 60 VINTAGE LEAF CAKE CASES |         24 |        0.55 |     13.2  |
|  2 | RIBBON REEL STRIPES DESIGN        |          1 |        1.65 |      1.65 |
|  3 | WORLD WAR 2 GLIDERS ASSTD DESIGNS |       2880 |        0.18 |    518.4  |
|  4 | PLAYING CARDS JUBILEE UNION JACK  |          2 |        1.25 |      2.5  |
|  5 | POPCORN HOLDER                    |          7 |        0.85 |      5.95 |
|  6 | BOX OF VINTAGE ALPHABET BLOCKS    |          1 |       11.95 |     11.95 |
|  7 | PARTY BUNTING                     |          4 |        4.95 |     19.8  |
|  8 | JAZZ HEARTS ADDRESS BOOK          |         10 |        0.19 |      1.9  |
|  9 | SET OF 4 SANTA PLACE SETTINGS     |         48 |        1.25 |     60    |

In [19]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [45]:
# your code here
df1=pd.DataFrame(orders)
df1

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

#### 11. Calculate the total quantity ordered and revenue generated from these orders.

Expected output:

````python
            Quantity    2978.0
            Revenue      637.0
````

In [24]:
# your code here
quantity=df1["Quantity"].sum()
revenue=df1["Revenue"].sum()

print("Quantity: ", quantity)
print("Revenue: ", revenue)

Quantity:  2978
Revenue:  637.0

#### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.
Expected output:

````python
            Most expensive:  11.95
            Least expensive:  0.18
            Difference:  11.77
````

In [47]:
# your code here
most_expensive=df1["UnitPrice"].max()
least_expensive=df1["UnitPrice"].min()
difference=most_expensive-least_expensive

print("Most expensive: ", most_expensive)
print("Least expensive: ", least_expensive)
print("Difference: ", difference)

Most expensive:  11.95
Least expensive:  0.18
Difference:  11.77

# BONUS

#### 1 Create a random dataframe containing 3 columns and 10 rows. 

*Hint: You'll have to use a `numpy.random` method to create random observations*

**Example of output:**

|    |         0 |        1 |        2 |
|---:|----------:|---------:|---------:|
|  0 | 0.0883504 | 0.867054 | 0.977949 |
|  1 | 0.819555  | 0.643927 | 0.122975 |
|  2 | 0.484618  | 0.515125 | 0.807791 |
|  3 | 0.539583  | 0.620799 | 0.926963 |
|  4 | 0.0479896 | 0.772282 | 0.621921 |
|  5 | 0.1398    | 0.767678 | 0.678816 |
|  6 | 0.0895157 | 0.242867 | 0.887941 |
|  7 | 0.160186  | 0.750576 | 0.439416 |
|  8 | 0.982747  | 0.652903 | 0.575518 |
|  9 | 0.646373  | 0.523237 | 0.700222 |

In [53]:
# your code here
pd.DataFrame(np.random.random((10,3)))

          0         1         2
0  0.181601  0.395092  0.352036
1  0.133939  0.709546  0.330503
2  0.422643  0.635318  0.128524
3  0.500552  0.555268  0.270995
4  0.009163  0.498504  0.545510
5  0.406041  0.975224  0.519215
6  0.448480  0.948973  0.632964
7  0.438635  0.365349  0.487714
8  0.730603  0.294075  0.736536
9  0.403091  0.500192  0.427158

#### 2 Create a random dataframe containing 3 columns and 10 rows with specific column names. 

Use `['column1', 'column2', 'column3']` as the column names.

**Example of output:**

|    |   column1 |   column2 |   column3 |
|---:|----------:|----------:|----------:|
|  0 |        10 |        21 |        45 |
|  1 |        32 |        87 |        39 |
|  2 |        93 |        53 |         8 |
|  3 |        52 |        77 |        41 |
|  4 |        72 |        50 |        31 |
|  5 |        16 |         6 |        41 |
|  6 |        66 |        33 |        62 |
|  7 |        97 |        50 |        92 |
|  8 |        21 |        71 |        42 |
|  9 |        91 |        97 |        32 |

In [55]:
# your code here
pd.DataFrame(data=np.random.randint(0, 100, size=(10,3)), columns=["column1", "column2", "column3"])

   column1  column2  column3
0       80        1       81
1       10       69       77
2       38       59       33
3       56       92       98
4       67       30       74
5       58       94       92
6       41       47       34
7        1       63       63
8       96       58       13
9       92       30        6

#### 3 Create a random dataframe containing N columns and M rows with specific column names.

For this task you'll have to name the columns as `['column1', 'column2', 'column3', ...,'columnN']`. You can use a list comprehension to do that.

In [61]:
N = 10
M = 30

# your code here
pd.DataFrame(data=np.random.random(size=(M, N)), columns=[f"column{i}" for i in range(1, N+1)])
# pd.DataFrame(data=np.random.random(size=(M, N)), columns=["column"+str(i) for i in range(1, N+1)])

,column1,column2,column3,column4,column5,column6,column7,column8,column9,column10
0,0.119516,0.010595,0.960866,0.643733,0.301828,0.366104,0.324397,0.946483,0.173094,0.474646
1,0.150396,0.287647,0.815900,0.492834,0.013599,0.615971,0.762567,0.460660,0.754533,0.042053
2,0.589098,0.380333,0.969372,0.841198,0.206689,0.103760,0.853370,0.241069,0.935001,0.062995
3,0.692506,0.348286,0.883912,0.449326,0.777470,0.947510,0.579530,0.439133,0.679350,0.358807
4,0.380349,0.796600,0.056708,0.379006,0.014998,0.726559,0.331401,0.236828,0.141116,0.832248
5,0.244210,0.358357,0.554715,0.516398,0.526383,0.452841,0.395694,0.164954,0.504849,0.019068
6,0.720934,0.382418,0.617091,0.521465,0.507079,0.376992,0.061541,0.090908,0.274547,0.101010
7,0.099752,0.859158,0.942628,0.322665,0.954586,0.631002,0.887514,0.768113,0.256573,0.836883
8,0.525733,0.157074,0.884611,0.367228,0.451935,0.974649,0.064430,0.266873,0.613220,0.507451
9,0.019866,0.075583,0.146908,0.670703,0.710296,0.768182,0.398440,0.501242,0.718358,0.420253
10,0.818143,0.786246,0.458516,0.768434,0.149453,0.054833,0.789933,0.190342,0.014387,0.069686
11,0.565882,0.428189,0.037336,0.174138,0.681881,0.188704,0.854775,0.167976,0.610595,0.627511
12,0.208883,0.434241,0.144476,0.819459,0.875680,0.606152,0.028992,0.776884,0.847812,0.331639
13,0.540420,0.203133,0.602107,0.522011,0.020929,0.242230,0.021047,0.332719,0.513870,0.300689
14,0.365562,0.800185,0.236269,0.786518,0.868942,0.623667,0.441536,0.052146,0.447703,0.686991
15,0.336625,0.720137,0.954617,0.179725,0.321598,0.183611,0.888800,0.019610,0.463528,0.797772
16,0.733320,0.158033,0.294502,0.913359,0.712791,0.852115,0.583658,0.218364,0.117714,0.509984
17,0.339160,0.148363,0.684422,0.678736,0.340703,0.902276,0.689574,0.322367,0.051944,0.576174
18,0.283252,0.566238,0.810337,0.965682,0.630245,0.485031,0.466953,0.029952,0.898508,0.915242
19,0.914890,0.026824,0.983644,0.111104,0.533419,0.667952,0.187059,0.119952,0.207621,0.163390
20,0.541491,0.506049,0.006492,0.204016,0.259095,0.020647,0.067369,0.307620,0.827657,0.330031
21,0.472617,0.440589,0.793963,0.029526,0.303224,0.128703,0.391615,0.602577,0.852698,0.299510
22,0.344840,0.106776,0.948013,0.843506,0.165002,0.820443,0.689764,0.358724,0.227300,0.372063
23,0.735491,0.271690,0.959575,0.186487,0.990157,0.200024,0.001848,0.139680,0.351382,0.039863
24,0.956115,0.174577,0.231146,0.907374,0.210020,0.071440,0.630747,0.922839,0.333137,0.893422
25,0.075324,0.720630,0.313539,0.326110,0.068783,0.953030,0.011309,0.414067,0.967301,0.316907
26,0.287640,0.114382,0.925950,0.823544,0.903904,0.077035,0.830582,0.648637,0.907411,0.472019
27,0.180677,0.022708,0.158723,0.111092,0.257906,0.736329,0.460962,0.625703,0.048372,0.285757
28,0.223917,0.006261,0.933564,0.642930,0.471841,0.089559,0.062046,0.774697,0.379878,0.846787
29,0.360274,0.944996,0.000211,0.704385,0.337214,0.497150,0.760702,0.668959,0.074863,0.502352